.aider*
.env
skogix.github.io
ai/functions/agents/argc/__pycache__/tools.cpython-312.pyc
ai/functions/agents/demo/__pycache__/tools.cpython-312.pyc
ai/functions/tools/__pycache__/demo_py.cpython-312.pyc
ai/functions/agents/react/__pycache__/tools.cpython-312.pyc
ai/source/
